<div id="top"></div>
<div class="panel-header panel-header-sm">
</div>



<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="background-color: black;color:white">
          <h4 class="card-title"> Vibe List</h4>
           <div class="addNewBtn">
            <!-- <a [routerLink]="['/add-vendor']" class="btn btn-primary"><i class="fa fa-plus"></i> Add Vendor</a> -->
            <button  class="btn btn-success" onclick="document.getElementById('id01').style.display='block'">
              <i class="fa fa-plus"></i> Add Vibe
            </button>
          </div>
        </div>
        <div class="col-md-12">
          <div class="userSearchList">
            <input (keyup)="search($event)" placeholder="search...">
            <span _ngcontent-c5="" class="searchIcon"><i _ngcontent-c5="" class="fa fa-search"></i></span>
          </div>
        </div>
        <div *ngIf="!vibeData?.vibe?.length" class="noDataFound">
          No data found
        </div>
        <div *ngIf="vibeData?.vibe?.length" class="eventUserList">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Sr No</th>
                  <th>Name</th>
                  <th></th>
                  <!-- <th>Action</th> -->
                </thead>
                <tbody>
                  <tr *ngFor="let item of vibeData?.vibe; let i= index;">
                    <td>{{i + 1}}</td>
                    <td>{{item.name}}</td>
                    
          
                    <td>
                      <i class="fa fa-edit" aria-hidden="true" (click)="EditVibe(item,i)"></i> &nbsp;
                      <i class="fa fa-trash" aria-hidden="true" (click)="DeleteVibe(i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
              <div class="row justify-content-center" *ngIf="vibeData?.vibe?.length">
                <ngb-pagination [collectionSize]="total" [(page)]="where.page" [maxSize]="5" [pageSize]="where.limit" [rotate]="true"
                 [boundaryLinks]="false" (pageChange)="loadPage($event)"></ngb-pagination>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-container">
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container" >
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <!-- <div class="modal-header">
                <h4 class="modal-title">ADD VENDOR</h4>
              </div> -->
              <div class="jumbotron" style="background-color:white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                          <div class="card-header headerFlex" style="background-color: black;color:white;height: 2.1em;">
                            <h4 class="card-title">Add Vibe</h4>
                          </div>
                          <div *ngIf="errMssage">
                            <p style="text-align: center; size: 10px; color: red;">{{msg}}</p>

                          </div>
                            <form [formGroup]="vibeForm" (ngSubmit)="onSubmit()">
                     
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Name is required</div>
                                    </div>
                                </div>
                               
                                
                                <div class="text-center  control-buttons">
                                  <input  type="button" onclick="document.getElementById('id01').style.display='none'"  class="btn btn-primary" value="Close"/>

                                    <input [disabled]="loading" (click)="AddVibe()" class="btn btn-warning" type="button" value="Add"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
   
          </div>
        </div>
      </div>
    </div>
  </div>


  <div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
  </div>
</div>