
<div class="logo">
  <a href="JavaScript:Void(0);" class="simple-text logo-normal">
      <!--{{ username.charAt(0).toUpperCase() + username.slice(1)}}-->
      <span>{{storeName}}</span>
  </a>
  <span class="toggleMenu {{sideClass}}">
      <span class="openSide"><button class="openbtn"  (click)="openNav($event)"><i class="fa fa-bars"></i> <i class="fa fa-angle-right"></i></button></span>
  </span>
</div>
<div *ngIf="isToggle" class="sidebar-wrapper">
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a [routerLink]="[menuItem.path]">
              <i class="now-ui-icons {{menuItem.icon}}"></i>
              <p>{{menuItem.title}}</p>
          </a>
      </li>
  </ul>
</div>
