
<div class="login-box">
	<div class="container">
		<div class="form-signin">
			<div class="col-12">
				<h3>Change Password </h3>
      </div>
      <div *ngIf="msgError">
        <div style="color: red">{{msg}} </div>
      </div>
			<div class="col-12">
				<input class="form-control" type="password" name="password" id="password" #password placeholder="Password">
        <input class="form-control" type="password" name="confirm_password" id="confirm_password" #confirm_password placeholder="confirm Password">
      </div>
      
			<div class="col-12">
				<!-- <div *ngIf="error" class="alert alert-danger" role="alert">
					<strong>Oh snap!</strong> Email is invalid.
				</div> -->
				<button class="btn btn-primary btn-block btn-lg" type="button" (click)="changePassword(password,confirm_password)">Submit</button>				
				<div class="row">
					<div class="col-6">
					</div>
					<div class="col-6 text-right">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="body"></div>
<div class="grad"></div>

<div>
	<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
	  <p style="font-size: 20px; color: white">Loading...</p>
	</ngx-spinner>
  </div>


