<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="login-box">
  <div class="container">
    <div class="form-signin">

        <div class="main-section deshboardPage">

          <div class="dashbord dashbord-orange">
            <div class="icon-section">
              <i class="fa fa-user" aria-hidden="true"></i><br>
              <small>Admin</small>

            </div>
            <div class="detail-section">
              <a routerLink="/login-admin">Login as Admin </a>
            </div>
          </div>&nbsp; &nbsp; &nbsp;
          <!-- <div class="dashbord">
            <div class="icon-section">
              <i class="fa fa-briefcase " aria-hidden="true"></i><br>
              <small>Business</small>

            </div>
            <div class="detail-section">
              <a routerLink="/login-store">Login as Business </a>
            </div> 
          </div>-->
        </div>
    </div>
  </div>
</div>


<div class="body"></div>
<div class="grad"></div>